/*
  * Copyright 2015 Kopasoft http://kopatheme.com/.
  * MIT License.
*/
.real_widget_3product_grid{
	.widget-content{
		margin-top: -30px;
	}
	.entry-item{
		border: 1px solid $cl-003;
		overflow: hidden;
		border-radius: 2px;
		background-color: $cl-001;
		margin-top: 30px;
	}
	.entry-thumb{
		img{
			width: 100%;
		}
		&:hover{
			img{
				left: 0px;
			}
		}
	}
	.entry-thumb.real_style_01{
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		iframe{
			border-radius: 5px;
			overflow: hidden;
		}
	}
	.real_blockquote{
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.entry-content{
		padding: 27px 30px 50px 30px;
		.real_meta_data{
			margin-bottom: 5px;
		}
		.entry-title{
			line-height: 32px;
			a{
				display: inline-block;
			}
		}
		.entry-detail{
			font-size: 16px;
			color:$cl-009;
			margin-bottom: 30px;
			line-height: 25px;
		}
	}
	.entry-content.real_style_01{
		padding-left: 0px;
		padding-bottom: 20px;
	}
	.owl-controls{
		position: absolute;
		bottom: 25px;
		width: 100%;
	}
	.owl-theme .owl-controls .owl-page span{
		height: 8px ;
		width: 8px;
		background-color: $cl-001;
		margin: 0px 3px;
		border-radius: 0px;
		opacity: 1;
		&:hover{
			background-color: $color-hover;
		}
	}
	.owl-theme .owl-controls .owl-page.active span{
		background-color: $color-hover;
	}
}
.real_wrap_single_none{
	margin-bottom: 45px;
	.real_meta_data{
		margin-bottom: 5px;
	}
	.title-single{
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 32px;
	}
	>.entry-thumb{
		margin-bottom: 25px;
		border-radius: 2px;
	}
	>p{
		line-height: 25px;
		color:$cl-009;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.real_dropcaps{
		margin-bottom: 45px;
		margin-top: 45px;
	}
	.real_blockquote{
		margin-bottom: 45px;
	}
	.real_wrap_img{
		margin: 0px;
		padding: 0px;
		@extend %clearfix;
		margin-left: -5px;
		margin-right: -5px;
		padding-top: 20px;
		margin-bottom: 30px;
		li{
			list-style-type: none;
			padding-left: 5px;
			padding-right: 5px;
			overflow: hidden;
			img{
				border-radius: 2px;
				width: 100%;
			}
		}

	}
	.real_share_net_work{
		margin-top: 45px;
		margin-bottom: 45px;
		font-size: 15px;
		font-weight: 300;
		font-family: $font-secondary;
	}
	.real_texthighlights{
		font-size: 16px;
		line-height: 25px;
		color: $cl-009;
		.real_style_02{
			font-size: 16px;
		}
	}
}
.tab-title{
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 25px;
	padding-left:25px;
	&:before{
		content: "";
		position: absolute;
		height: 15px;
		width: 4px;
		background-color: $color-hover;
		left: 0px;
		top:3px;
	}
}
.real_widget_3product_grid{
	margin-bottom: 45px;
	.widget-content{
		margin-top: -10px;
	}
}
.real_widget_testimonial_ourgents{
	margin-bottom: 50px;
	.widget-title{
		margin-bottom: 25px;
	}
	.entry-thumb{
		display: block;
		background-color: $color-hover;
		padding: 55px 0px;
		img{
			border-radius: 50%;
			width: auto;
			padding: 7px;
			background-color: rgba(255,255,255,.2);

		}
		&:hover{
			img{
				left: 0px;
			}
		}
	}
	
	.real_wrap_owl{
		
		text-align: center;
		padding: 0px;
		.owl-item{
			margin-top: 0px;
			padding: 0px;
		}
	}
	.entry-item{
		background-color: $cl-007;
		.entry-content{
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
		}
		.entry-title{
			margin-bottom: 5px;
		}
		.real_sub_title{
			font-weight: 300;
			color:$color-hover;
			text-transform: capitalize;
			display: block;
			margin-bottom: 15px;
		}
		.entry-detail{
			font-weight: 400;
			color:$cl-006;
			line-height: 24px;
		}
		.real_line_center{
			height: 1px;
			display: inline-block;
			width: 70px;
			background-color: $cl-003;
			line-height: 1px;
			display: none;
		}
	}
	.owl-controls{
		margin-top: 20px;
	}
	.owl-controls .owl-buttons{

		.owl-prev,.owl-next{
			padding:0px;
			border: 0px;
			border-radius: 0px;
			font-size: 13px;
			font-weight: 600;
			margin: 0px 0px;
			line-height: 20px;
			text-transform: capitalize;
			color:$cl-009;
			&:hover{
				background-color: inherit;
				color: $color-hover;
				&:before{
					background-color: unset;
					height: 0px;
					width: 0px;
				}
			}
		}
		.owl-prev{
			position: relative;
			&:after{
				content: "/";
				display:inline-block;
				margin-left: 5px;
				margin-right: 5px;
				color:$cl-009;
			}
			&:hover{
				&:after{
					color: $cl-009;
				}
			}
		}
	}
}
.real_wrap_like_and_pagin{
	.real_share_net_work{
		margin-bottom: 45px;
	}
	border-bottom: 1px solid $cl-003;
	padding-bottom: 45px;
	margin-bottom: 45px;
}