/*
  * Copyright 2015 Kopasoft http://kopatheme.com/.
  * MIT License.
*/
.real_primary_menu{

	ul li >ul{
		position: absolute;
		top:100%;
		background-color: $cl-001;
		padding: 35px 30px;
		padding-left: 30px !important;
		padding-right: 30px !important;
		display: none;
		&:after{
			content: "";
			border-bottom: 13px solid $color-hover;
			height: 0px;
			width: 0px;
			border-left: 13px solid transparent;
			position: absolute;
			bottom: 4px;
			right: 4px;
		}
		>li{
			display: block;
			border-top: 1px solid $cl-003;
			&:first-of-type{
				border-top: 0px;
			}
			>a{
				font-size: 14px;
				text-transform: uppercase;
				color:$color-secondary;
				padding: 10px 0px;
				font-weight: 400;
				@extend %transition;
				position: relative;
				-moz-osx-font-smoothing: grayscale;
				&:before{
					content: "";
					height: 0px;
					width: 3px;
					background-color: $color-hover;
					position: absolute;
					left: 0px;
					top:4px;
					@extend %transition;
				}
			}
			&:hover{
				>a{
					color:$color-hover;
					padding-left: 20px;
					&:before{
						width: 3px;
						height: 10px;
						position: absolute;
						top:14px;
					}
				}
			}
		}
		ul{
			top: 0px;
			left: 100%;
			min-width: 250px;
			display: none;
			li{
				display: block;
				border-top: 1px solid $cl-003;
				&:first-of-type{
					border-top: 0px;
				}
				>a{
					font-size: 14px;
					text-transform: uppercase;
					color:$color-secondary;
					padding: 10px 0px;
					@extend %transition;
					position: relative;
					display: block;
					&:before{
						content: "";
						height: 0px;
						width: 3px;
						background-color: $color-hover;
						position: absolute;
						left: 0px;
						top:4px;
						@extend %transition;
					}
				}
				&:hover{
					>a{
						color:$color-hover;
						padding-left: 20px;
						&:before{
							width: 3px;
							height: 10px;
							position: absolute;
							top:14px;
						}
					}
				}
			}
		}
	}
	ul li .real_wrap_menu{
		position: absolute;
		top:100%;
		display: none;
		background-color: $cl-001;
		padding: 0px;
		width: auto;
		width: 100%;
		z-index: 9999;
		left: 0px;
		padding-right: 30px;
		&:after{
			content: "";
			border-bottom: 13px solid $color-hover;
			height: 0px;
			width: 0px;
			border-left: 13px solid transparent;
			position: absolute;
			bottom: 4px;
			right: 4px;
		}
	}
}
.real_header.real_style_01{
	position: relative;
	background-color: $cl-001;
	.col_custom_right{
		position: static;
	}
	.row_custom_01{
		position: relative;
	}
	&:after{
		content: "";
		position: absolute;
		height: 56px;
		width: 30%;
		background-color: $color-hover;
		overflow-x: hidden;
		bottom: 0px;
		right: 0px;
		z-index: -1;
	}
	.real_header_top{
		background: $color-primary;
		.real_acount{
			margin-right: -18px;
			li{
				margin-left: 18px;
				margin-right: 18px;
				&:before{
					content:"";
					left: -20px;
				}
				i{
					margin-left: 15px;
					margin-right: 0px;
				}
			}
		}
	}
	.real_logo_header{
		padding-left: 0px;
		padding-right: 50px;
		padding-bottom: 0px !important;
	}
	.real_header_middle{
		border-bottom: 0px;
		background-color: $cl-001;
		.real_header_middle_left{
			.real_info_us{				
			}
			li{
				i{
					color:$cl-022;
					font-size: 24px;
					margin-top: 6px;
				}
				.real_wrap{
					span{
						font-size: 14px;
						color:$color-primary;
					}
					a{
						font-size: 14px;
						color:$color-primary;
					}
					p{
						font-size: 14px;
						color:$color-hover;
						font-weight: 300;
					}
				}
				&:first-of-type{
					padding-left: 0px;
				}
			}
		}
		.real_header_middle_right{
			margin-right: 0px;
			margin-top: 50px;
			.real_social{
				li{
					margin-left:14px; 
				}
				a{
					border: 0px;
					i{
						color:$color-primary;
						&:hover{
							color:$color-hover;
						}
					}
				}
			}
			.real_cart_shop{
				display: inline-block;
				margin-left: 55px;
			}
		}
	}
	.real_header_bottom{
		position: static;
		z-index: 5;
		ul{
			padding-left: 0px;
			padding-right: 0px;
		}
		.real_has_custom{
			position: static;
		}
	}
	
}
.real_wrap_menu{
	display: none;
	.nav-tabs{
		border-bottom: 0px;
		background-color: $cl-007;
		padding: 30px !important;
		height: 100%;
		li{
			display: block;
			width: 100%;
			border-top: 1px solid $cl-003;
			&:first-of-type{
				border-top: 0px;
			}
		}
		a{
			font-size: 14px;
			text-transform: capitalize;
			color:$color-secondary;
			text-transform: uppercase;
			margin: 0px;
			border: 0px;
			border-radius: 0px;
			padding: 15px 0px;
			&:before{
				width: 4px;
				height: 0px;
				top: 19px;
				left: 0px;
			}
			&:hover{
				background-color: inherit;
				color:$color-hover;
				&:before{
					content: "";
					height: 0px;
					width: 0px;
				}
			}
		}
		li.active a{
			border: 0px;
			color:$color-hover;			
			background-color: inherit;
			position: relative;
			padding-left: 20px;
			&:before{
				content: "";
				height: 10px;
				width: 4px;
				background-color: $color-hover;
				top: 19px;
				left: 0px;
			}
			&:focus{
				color:$color-secondary;				
			}
		}
	}
	.tab-content{
		padding-top: 40px;
		padding-bottom: 85px;
	}
}
.widget-title{
	.real_style_012{
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
	}
}
.real_widget_3_menu{
	
	.widget-content{
		.epl-listing-post{
			padding-top: 15px;
			padding-bottom: 10px;
			border-top: 1px solid $cl-003;
			&:first-of-type{
				border-top: 0px;
			}
		}
	}
	.epl-listing-post{
		margin-bottom: 0px;
		.property-featured-image-wrapper{
			width: auto;
			float: none;
			padding: 0px;
			a{
				padding: 0px;
			}
			.epl-archive-entry-image{
				display: inline-block;
				float: left;
				width: auto;
				clear: none;
				margin-right: 20px;
				overflow: hidden;
				border-radius: 2px;
			}
			.epl-blog-image{
				img{
					width: 100%;
				}
				&:hover{
					img{
						left: 0px;
					}
				}
			}
			.epl-inspection-times{
				width: auto;
				clear: none;
				margin: 0px;
				margin-bottom: 5px;
				ul{
					padding: 0px;
				}
				a{
					color:$color-hover;
				}
			}
		}
		.property-content{
			clear: none;
			width: auto;
			float: none;
			overflow: hidden;
			.entry-title{
				a{
					font-size: 14px;
					line-height: 22px;
					color:$color-secondary;
					padding: 0px;
					&:hover{
						color: $color-hover;
					}
				}
			}
		}
	}
}
.real_widget_product_alon{
	.widget-content{
		@extend %clearfix;
		a{
			padding: 0px;
		}
		ul{
			padding: 0px;
		}
		.epl-archive-entry-image{
			>a{
				width: 100%;
			}
		}
		.epl-listing-post{
			margin-top: 15px;
		}
		.epl-inspection-times{
			margin: 0px;
			a{
				padding-top: 10px;
				font-weight: 300;
				display: inline-block;
				color:$color-hover;
				text-transform: capitalize;
			}
			.home-open-wrapper{
				margin-right: 0px;
				margin-left: 0px;
			}
		}
		.epl-blog-image{
			img{
				width: 100%;
				border-radius: 2px;
			}
			&:hover{
				img{
					left: 0px;
				}
			}
		}
		.property-content{
			
			.entry-title{
				font-size: 15px;
				line-height: 28px;
				a{
					font-style: 15px;
					color:$color-secondary;
					&:hover{
						color: $color-hover;
					}
				}
			}
			.entry-content{
				font-size: 15px;
				line-height: 24px;
				color: $cl-028;
				font-family: $font-secondary;
				font-weight: 300;
				margin-bottom: 10px;
			}
			.property-feature-icons{
				margin-bottom: 23px;
				.icon-value{
					font-weight: 300;
					color:$color-primary;
					font-family: $font-secondary;
				}
			}
			.page-price{
				font-size: 19px;
				font-weight: 500;
				color: $color-hover;
				.page-price-prefix{
					color:$color-hover;
					font-size: 15px;
					font-weight: 400;
					margin-right: 20px;
					position: relative;
					&:after{
						position: absolute;
						content: "";
						height: 13px;
						width: 1px;
						background-color: $color-hover;
						right: -14px;
						top:5px;
					}
				}
			}
		}
	}	
}
.real_widget_intro_2_has_owl{
	.widget-content{
		margin-top: 42px;
		margin-left: -15px;
		margin-right: -15px;
		@extend %list_reset;
		.owl-theme .owl-controls{
			margin-top: 0px;
			.owl-prev,.owl-next{
				&:hover{
					background-color: inherit;
				}
			}
		}
		>ul{
			margin-top: -30px;
		}
		.epl-listing-post{
			border: 1px solid $cl-003;
			border-radius: 2px;
			overflow: hidden;
			margin-top: 30px;
		}
		.epl-blog-image{
			max-height: 235px;
			overflow: hidden;
		}
		.epl-inspection-times{
			margin: 0px;
			a{
				padding: 25px 30px 5px 30px;
				font-weight: 300;
				display: inline-block;
				color:$color-hover;
				text-transform: capitalize;
			}
		}
		.property-content{
			padding: 0px 30px 45px 30px;
			.entry-title{
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 10px;
			}
			.entry-content{
				font-size: 16px;
				line-height: 24px;
				color: $cl-009;
				font-family: $font-secondary;
				font-weight: 300;
				margin-bottom: 10px;
			}
			.property-feature-icons{
				margin-bottom: 23px;
				.icon-value{
					font-weight: 300;
					color:$color-primary;
					font-family: $font-secondary;
				}
			}
			.page-price{
				font-size: 19px;
				font-weight: 500;
				color: $color-hover;
				.page-price-prefix{
					color:$color-hover;
					font-size: 15px;
					font-weight: 400;
					margin-right: 20px;
					position: relative;
					&:after{
						position: absolute;
						content: "";
						height: 13px;
						width: 1px;
						background-color: $color-hover;
						right: -14px;
						top:5px;
					}
				}
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons{
		position: absolute;
		top:-80px;
		right:10px;
		.owl-prev,.owl-next{
			border: 0px;
			padding: 0px;
			font-weight: 600;
			font-size: 15px;
			&:hover{
				color:$color-hover;
				&:before{
					content: "";
					height: 0px;
					width: 0px;
				}
			}
		}
		.owl-prev{
			margin-right: 0px;
			color:$color-hover;
			&:after{
				content: "/";
				color: $cl-006;
				margin-left: 4px;
			}
		}
	}
}
.widget_epl_property_search.real_style_02{
	position: absolute;
	margin-right: 15px; 	
	top:-300px;
	z-index: 1;
	.epl-search-tabs{
		border-bottom: 3px solid $color-primary;
		@extend %clearfix;
		.tab-link{
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			color:$color-secondary;
			padding: 15px 30px;
			margin-right: 0px;
			background-color: $cl-001;
			float: left;
			margin-right: 3px;
		}
		.tab-link.epl-sb-current{
			background-color: $color-primary;
			color:$cl-001;
			border-bottom: 0px;
		}
	}
	.epl-search-forms-wrapper{
		width: 100%;
		max-width: 100%;
		padding: 50px 30px;
		padding-top: 45px;
		background-color: $cl-001;
		border: 1px solid $cl-003;
		border-top: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		overflow: hidden;
		.real_elp_tab_title{
			font-size: 18px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 600;
			color:$color-secondary;
			margin-bottom: 13px;
		}
		.epl-search-label{
			font-family: $font-secondary;
			font-size: 14px;
			font-weight: 400;
			color:$cl-009;
			margin-top: 8px !important;
		}
		.field{
			input{
				line-height: 20px;
				padding: 9px 10px;
				font-family: $font-secondary;
				color:$cl-022;
				border: 1px solid $cl-003;		
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none; /* Firefox */		
			}
			select{
				padding: 9px 10px;
				font-family: $font-secondary;
				color:$cl-022;
				border: 1px solid $cl-003;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none; /* Firefox */
			}
		}
		///arow select custom
		.epl-search-row-select .field{
			position: relative;
			z-index: 9;
			select{
				position: relative;
				z-index: 9;
				background-color: inherit;
			}
			&:after{
				content: "";
				position: absolute;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 6px solid $color-primary;
				right: 6px;
				top: 18px;
				z-index: 1;
			}
			&:before{
				content:"";
				position: absolute;
				height: 38px;
				width: 18px;
				background-color: $cl-004;
				right: 1px;
				top: 1px;
				z-index: 1;
				border-left: 1px solid $cl-003;
			}
		}
		//end arow select custom
		.epl-search-row-checkbox{
			margin-right: 15px;
			input{
				margin-right: 10px;
			}
			label{
				font-family: $font-secondary;
				font-size: 13px;
				font-weight: 400;
				color:$cl-006;
				padding-top: 8px;
			}
		}
		.epl-search-submit{
			margin-top: 13px;
		}
		.epl-search-btn{
			border: 0px;
			font-size: 13px;
			color:$cl-001;
			text-transform: uppercase;
			line-height: 44px;
			background-color: $color-primary;
			font-weight: 500;
			border-radius: 3px;
		}
		.epl-search-other{
			.epl-search-row-checkbox{
				position: relative;
			}
			input[type^=checkbox]{
				width: 5px;
			    margin: 0;
			    padding: 0;
			    position: absolute;
			    top: 5px;
			    left: 5px;
			    display: none;
			}
			label{
				margin-left: 25px;
			}
			input[type=checkbox] + label > span{
				display: inline-block;
			    text-align: center;
			    width: 15px;
			    height: 15px;
			    line-height: 13px;
			    font-size: 12px;
			    background: $cl-004;
			    border: 1px solid $cl-003;
			    position: absolute;
			    top: 10px;
			    left: 1px;
			    &:before{
			    	content: '\f00c';
			    	@extend %fa;
				    font-size: 10px;
				    line-height: 11px;
				    color: $color-hover;
				    display: none;
			    }
			}
			input[type=checkbox]:checked + label > span:before{
				display: block;
			}
		}
	}
}
.real_widget_owl_img{
	.owl-theme .owl-controls{
		position: absolute;
		top:48%;
		width: 100%;
	}
	.real_wrap_owl .owl-item{
		padding: 0px;
		margin-top: 0px;
	}
	.owl-theme .owl-controls .owl-buttons{
		@extend %clearfix;
		padding: 0px 50px;
		padding-left: 95px;
		.owl-prev,.owl-next{
			text-align: center;
			border: 0px;
			margin: 0px;
			padding: 0px;
			&:hover{
				background-color: inherit;
			}
			i{
				background-color: rgba(0,0,0,.3);
				border-radius: 100%;
				width: 45px;
				font-size: 30px;
				line-height: 45px;
				color:$cl-001;
				&:hover{
					background-color: $color-hover;
				}
			}
			&:hover{
				&:before{
					height: 0px;
					width: 0px;
				}
			}
		}
		.owl-prev{
			float: left;
		}
		.owl-next{
			float: right;
		}
	}
	.widget-content{
		.entry-thumb{
			img{
				width: 100%;
				max-width: 100%;
				height: auto;
			}
			&:hover{
				img{
					left: 0px;
				}
			}
		}
	}
}
.real_widget_has_accordion{
	.widget-title{
		.real_style_02{
			color:$cl-001;
		}
		p{
			color:$cl-020;
		}
	}
	.widget-content{
		padding-top: 35px;
		.panel-body{
			padding: 25px 30px 45px 30px;
		}
	}
	.panel-group.real_style_01 .panel-heading .tab-title{
		padding-left: 0px;
		font-size: 13px;
		letter-spacing: 1.2px;
		&:before{
			height: 0px;
			width: 0px;
		}
	}
	.panel-group .panel-heading + .panel-collapse > .panel-body{
		border-top: 0px;
	}
}
.real_widget_has_tab_product{
	.nav-tabs{
		margin: 0px;
		border-bottom: 1px solid $cl-003;
		padding-bottom: 15px;
		li{
			margin: 0px;
			margin-right: 90px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				height: 23px;
				width: 4px;
				background-color: $color-primary;
				top:0px;
				left:-48px;
			}
			&:after{
				content: "";
				position: absolute;
				height: 2px;
				width: 0px;
				left: 0px;
				bottom:-16px;
				background-color: $color-hover;
				@include transition(.2s);
			}
			&:first-of-type{
				 &:before{
				 	height: 0px;
					width: 0px;
				 }
			}
			&:last-of-type{
				margin-right: 0px;
			}
		}
		a{
			border: 0px;
			padding: 0px;
			margin-right: 0px;
			padding: 0px;
			font-size: 30px;
			line-height: 30px;
			font-weight: 500;
			color:$color-primary;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			background-color: inherit;
			&:hover{
				color:$color-hover;
				background-color: inherit ;
			}
		}
		.active{
			&:after{				
				width:100px;
			}
			a{
				color:$color-hover;
				background-color: inherit;
				border: 0px;
				&:hover{
					border: 0px;
					color:$color-hover;
					background-color: inherit;
				}
				&:focus{
					outline: 0px;
					border: 0px;
					color:$color-hover;
					background-color: inherit;
				}
			}
		}
	}
	.tab-content{
		padding-top: 30px;
	}
	.tab-pane{
		margin-top: -30px;
		.epl-listing-post{
			border: 1px solid $cl-003;
			border-radius: 2px;
			overflow: hidden;
			margin-top: 30px;
			margin-bottom: 0px;
			background-color: $cl-001;
		}
		.property-featured-image-wrapper{
			width: auto;
			float: none;
		}
		.epl-archive-entry-image{
			
		}
		.epl-inspection-times{
			overflow: hidden;
			@extend %list_reset;
			margin: 0px;
			a{
				padding: 25px 30px 5px 30px;
				font-weight: 300;
				display: inline-block;
				color:$color-hover;
				text-transform: capitalize;
			}
		}
		.property-content{
			width: auto;
			float: none;
			overflow: hidden;
			padding: 0px 30px 0px 30px;
			padding-bottom: 20px;
			.entry-title{
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 10px;
			}
			.entry-content{
				font-size: 16px;
				line-height: 24px;
				color: $cl-009;
				font-family: $font-secondary;
				font-weight: 300;
				margin-bottom: 10px;
			}
			.property-feature-icons{
				margin-bottom: 23px;
				.icon-value{
					font-weight: 300;
					color:$color-primary;
					font-family: $font-secondary;
				}
			}
			.page-price{
				font-size: 19px;
				font-weight: 500;
				color: $color-hover;
				.page-price-prefix{
					color:$color-hover;
					font-size: 15px;
					font-weight: 400;
					margin-right: 20px;
					position: relative;
					&:after{
						position: absolute;
						content: "";
						height: 13px;
						width: 1px;
						background-color: $color-hover;
						right: -14px;
						top:5px;
					}
				}
			}
		}
	}
	.epl-blog-image{
	    position: relative;
	    overflow: hidden;
	    float: left;
	    .epl-stickers-wrapper{
	        position: absolute;
	        height: 100%;
	        width: 100%;
	        top:0px;
	        text-align: center;
	        @extend %transition;
	    }
	    .status-sticker{
	        display: inline-block;
	        margin: 0px;
	        padding: 0px;
	        height: 45px;
	        width: 45px;
	        background: $cl-001 !important;
	        border-radius: 50%;
	        position: absolute;
	        top: 45% !important;
	        right:-50px;
	        transform: rotate(0deg);
	        -moz-transform: rotate(0deg);
	        -webkit-transform: rotate(0deg);
	        -o-transform: rotate(0deg);
	        -ms-transform: rotate(0deg);
	        @include transition(.6s);
	        i{
	            color:$color-hover;
	            font-size: 14px;
	            line-height: 45px;
	        }
	    }
	    &:hover{
	        .epl-stickers-wrapper{
	            background-color: rgba(192,150,45,.7);
	        }
	        .status-sticker{
	            right: 46%;
	            transform: rotate(-720deg);
	            -moz-transform: rotate(-720deg);
	            -webkit-transform: rotate(-720deg);
	            -o-transform: rotate(-720deg);
	            -ms-transform: rotate(-720deg);
	        }
	        img{
	        	left: 0px;
	        }
	    }
	    img{
	    	width: 100%;
	    }
	}
}
.real_widget_has_tab .widget-title{
	.real_style_02{
		text-transform: uppercase;
		padding-left: 30px;
		color: $cl-001;
	}
}
.real_widget_list_blockquote{
	.widget-content{
		padding-top: 28px;
		@extend %list_reset;
		.real_wrap_owl{
			margin-left: -15px;
			margin-right: -15px;
		}
		.owl-controls{
			margin-top: 15px;
		}
		ul{
			margin-bottom: 10px;
			li{
				padding-top: 25px;
				padding-bottom: 25px;
				background: url(images/line1.png) repeat-x;
				background-position: left bottom; 
				blockquote{
					margin: 0px;
					padding: 0px;
				}
			}
		}
	}
	.owl-theme .owl-controls .owl-page span{
		height: 8px ;
		width: 8px;
		background-color: $color-primary;
		margin: 0px 3px;
		border-radius: 0px;
		opacity: 1;
		&:hover{
			background-color: $color-hover;
		}
	}
	.owl-theme .owl-controls .owl-page.active span{
		background-color: $color-hover;
	}
}
.real_widget_newletter{
	text-align: center;
	position: relative;
	top:0px;
	width: 100%; 
	.widget-content{
		text-align: center;
		margin-top: 40px;
	}
	.real_newletter{
		@extend %clearfix;
		display: inline-block;

		input{
			background-color: $cl-001;
			border:1px solid $cl-003;
			border-right: 0px;
			padding: 18px 20px;
			color:$cl-005;
			font-weight: 500;
			width: 504px;
			float: left;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			letter-spacing: 1px;
		}
		input::-webkit-input-placeholder {
			color: $cl-005;
		}
			 
		input:-moz-placeholder { /* Firefox 18- */
			color: $cl-005;  
		}
			 
		input::-moz-placeholder {  /* Firefox 19+ */
			color: $cl-005;  
		}
			 
		input:-ms-input-placeholder {  
			color: $cl-005;  
		}
		button{
			height: 58px;
			background-color: $color-hover;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			border: 0px;
			color:$cl-001;
			padding: 0px 40px;
			float: left;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			letter-spacing: 1px;
			&:hover{
				background-color: $cl-012;
			}
		}
	}
}
.real_widget_no_plug_has_3_element{
	.widget-content{
		margin-top: -5px;
	}
	.entry-item{
		border: 1px solid $cl-003;
		overflow: hidden;
		border-radius: 2px;
		background-color: $cl-001;
		margin-top: 30px;
		.entry-thumb{
			max-height: 235px;
			overflow: hidden;
		}
	}	
	.entry-content{
		padding: 25px 30px 45px 30px;
		.real_meta_data{
			margin-bottom: 5px;
		}
		.entry-title{
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 16px;
			a{
				display: inline-block;
			}
		}
		.entry-detail{
			font-size: 16px;
			color:$cl-009;
			margin-bottom: 25px;
			line-height: 24px;
		}
	}
	.entry-content.real_style_01{
		padding-left: 0px;
		padding-bottom: 20px;
	}
}
/* Spin Buttons modified */
input[type="number"] {
    -moz-appearance: textfield !important;
}
